/* Base reset for consistent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

header {
  background: linear-gradient(135deg, #6D5BBA, #8D58BF);
  color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 10px;
}

header p {
  font-weight: 300;
  color: #EDEDED;
}

section {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
  background-color: #6D5BBA;
  color: #FFF;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin: -20px;
  margin-bottom: 20px;
}

p, a {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

a {
  color: #8D58BF;
  text-decoration: none;
}

a:hover {
  color: #EFA94A;
  text-decoration: underline;
}

.project, .experience, .achievements, .patents, .publications {
  margin-bottom: 20px;
}

.project h3, .experience h3, .achievements h3, .patents h3, .publications h3 {
  font-size: 20px;
  color: #6D5BBA;
  margin-bottom: 5px;
}

/* Interactive Hover Effects */
section:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.contact a:hover, .footer a:hover {
  color: #3498db;
  font-weight: bold;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: #fff;
  background: #6D5BBA;
  border-radius: 8px;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.1);
}

/* Animation for Titles */
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

h2 {
  animation: 800ms ease-out 0s 1 slideInFromLeft;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
      padding: 10px;
  }

  header {
      padding: 20px;
  }
}
